*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #8675a9;
}

.titulo{
	margin-top: 10%;
	text-align: center;
	font-size: 120%;
	transition: all 0.5s ease-in-out;
	padding: 5%;
}

.titulo:hover{
	color: #eeecda;
	background-color: #6a2c70;
}